
* {
  box-sizing: border-box;
}

.all {
  padding: 10px;
}

.main {
  overflow: auto;
}

.top-row {
  display: flex;
  padding-bottom: 10px;
}

.input-container {
  align-items: stretch;
}

.input {
  border: 1px solid black;
  font-size: 1.2em;
  margin-bottom: 5px;
  padding: 10px;
  height: 100%;
}

.viz {
  float: left;
  padding-right: 10px;
}

.bwts {
  border: 1px solid black;
}

.cells {
  border: 2px solid black;
}

.highlighted {
  font-weight: bold;
}

.bwt {
  font-family: monospace;
}

.masked {
  opacity: 0.5;
}

.examples {
  align-items: stretch;
  padding: 10px;
  margin-right: -1px;
  border: 1px solid black;
}

.examples h4 {
  margin-top: 0;
  text-decoration: underline;
}

.github {
  padding-left: 15px;
  padding-top: 5px;
  align-items: stretch;
}
