
* {
  box-sizing: border-box;
}

.all {
  padding: 10px;
}

.left {
  float: left;
}

.main {
  float: left;
}

.input {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.table {
  float: left;
}

.content {
  border: 1px solid black;
}

.cells {
  border: 2px solid black;
}

.highlighted {
  font-weight: bold;
}

.bwt {
  font-family: monospace;
}

.masked {
  opacity: 0.5;
}

.examples {
  float: left;
  padding-right: 10px;
}

.suffixes {
  clear: both;
}
