
* {
  box-sizing: border-box;
}

.all {
  padding: 10px;
}

.left {
  float: left;
}

.main {
  float: left;
}

.input-container {
  float: left;
}

.input {
  font-size: 1.2em;
  margin-bottom: 5px;
  padding: 10px;
}

.table {
  float: left;
}

.content {
  border: 1px solid black;
  clear: both;
}

.cells {
  border: 2px solid black;
}

.highlighted {
  font-weight: bold;
}

.bwt {
  font-family: monospace;
}

.masked {
  opacity: 0.5;
}

.examples {
  float: left;
  padding: 10px;
  margin-right: -1px;
  border: 1px solid black;
}

.examples h4 {
  margin-top: 0;
  text-decoration: underline;
}

.suffixes {
  clear: both;
}

.github {
  padding-left: 15px;
  padding-top: 5px;
  float: left;
}
