
body {
  padding: 30px 0px 0px 30px;
}

svg {
  float: left;
}

.controls {
  float: left;
  max-width: 20vw;
  padding-right: 10px;
}

.label {
  padding: 10px 0px;
}

input {
  margin-right: 10px;
}

.highlight-row {
  fill: lightblue;
}

.highlight-col {
  fill: yellow;
}

.highlight-row-col {
  fill: lightgreen;
}

.arrow {
  fill: none;
  stroke: red;
  marker-end: url(#Triangle);
}

.head {
  fill: red;
  stroke: red;
}

.masked {
  opacity: 0.6;
}

.masked .arrow {
  opacity: 0.2;
}

.selected path {
  stroke-width: 2px;
}
