
body {
  padding: 10px 0 0 30px;
}

.svg {
  float: left;
  padding-left: 10px;
}

.label div {
  padding-bottom: 10px;
}

.controls {
  float: left;
  width: 20vw;
  padding-right: 10px;
  padding-bottom: 30px;
}

.label {
  padding: 10px 0;
}

.text-background {
  fill: #bbb;
}

.select-rect {
  fill: #ddd;
}

input {
  margin-right: 10px;
}

.highlight-row {
  fill: lightblue;
}

.highlight-col {
  fill: yellow;
}

.highlight-row-col {
  fill: lightgreen;
}

.arrow {
  fill: none;
  stroke: red;
  marker-end: url(#Triangle);
}

.head {
  fill: red;
  stroke: red;
}

.masked {
  opacity: 0.6;
}

.masked .arrow {
  opacity: 0.2;
}

.selected path {
  stroke-width: 2px;
}
